html,body{
	width:100%;
	height:100%;
	font-family: Roboto!important;
	font-size:14px;
}
/* menu
.mymenu li>ul{
	display: none;
	
}
/*


*/
#chitietsanpham{
	display:none;
}
.btn-chitiet{
	display: block;
	margin-top: 0;
	margin-left: auto;
}

.mymenu li:hover>ul{
	display:block;
}
end menu*/
.mymenu{
	padding: 0;
	margin: 0;
	
}
.mymenu li{
	font-size: 16px;
	font-weight: 400;
	padding: 4px 0px;
}
ul{
	list-style-type: none;
}
.circle-giohang{
	position: absolute;
	width: 15px;
	height: 15px;
	margin-top:-32px;
	margin-left:10px;
	border-radius: 30px;
	line-height:22px;
	font-size: 11px;
	text-align: center;
	background: red;
}

#body-login{
	background-color: #00909C;
}
/* css login*/
#body-flex-login{
	display:flex;
	height:100%;
	justify-content:center;
	align-items: center;
}
#container-login{
	display:flex;
	width:820px;
	height:610px;
	background-color: white;
}
#container-login-left{
	display:flex;
	flex-direction:column;
	width: 380px;
	height: 610px;
	justify-content:space-between;
	background-image: url("../image/1.jpg") ;
	padding: 0 16px ;
}
.header-login{
	margin-top: 32px;
}
#container-login-right{
	
	
}
#text-logo{
	font-size: 48px;
	
}
#hint-text-logo{
	font-size: 12px;
	opacity: 0.7;
	}
#header-top-left{
	text-align: center;
	color: white;
}
#header-bot-left{
	margin-bottom: 64px;
}
#header-bot-left span{
	color:white;
	margin-left: 8px;
	
}
/*ben phai */
#container-login-right{
	display:flex;
	flex:1;
	justify-content:space-between;
	flex-direction:column;
	padding: 0 24px;
}
#header-top-right{
	font-size: 20px;
	color: gray;
}
.actived{
	color: #DA7C79;
}
#login-icon{
	align-self: flex-end;
	margin-bottom: 16px;
}
#container-center-login-right input[type=text] {
	margin-top: 8px;
	font-size: 14px;

	
}
#container-center-login-right input[type=submit]{
	margin-top: 24px;
	color: white;
	font-size: 14px;
}
.material-textinput{
	height: 38px;
	border: 0;
	background-color: #D8D8D8;
	width: 100%;

}
#footer textarea{
	border: 0;
	background-color: #D8D8D8;
	width: 100%;
	
}
.material-button{
	height: 38px;
	border: 0;
	background-color: #00909C;
	width: 100%;
	box-shadow: 0px 2px 4px 0px #000;
}
.input-icon-email{
	background: url(../image/email.png) no-repeat scroll 8px 8px;
	height: 38px;
	border: 0;
	background-color: #D8D8D8;
	width: 100%;
	padding-left: 42px;
}
.input-icon-pass{
	background: url(../image/pass.png) no-repeat scroll 5px 7px;
	height: 38px;
	border: 0;
	background-color: #D8D8D8;
	width: 100%;
	padding-left: 42px;
}
.activiedlink{
	background: blue;
	}
/* Css trang chu*/
#header{
	height:662px;
	background: linear-gradient( rgba(0,0,0,0.42), rgba(0,0,0,0.42))
,url(../image/slide-3.jpg) no-repeat center center ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
}
.none_nav{
	background: none!important;
	border:none!important;
}
.navbar-center{
	margin-left: 35%!important;
}
.navbar-nav a{
	color: white !important;
}
.active a{
	color:#0167ff !important;
	background: none !important;
	font-weight: bold;
}
.open a{
	color:#0167ff !important;
	background: none !important;
	font-weight: bold;
}
.event-header{
	text-align: center;
	margin-top: 216px;
}
#info{
	text-align: center;
	margin-top: 48px;
}
#info > span{
	margin-top: 16px;
}
.event-header >span{
	color:white;
}
.event-header >button{
	color:white;
	background: blue;
	border: blue;
}
.icon{
	width: 48px;
	height: 48px;
	
}
#title-sp{
	margin-top: 100px;
	text-align: center;
	font-size: 16px;
	font-weight: 500
	
}
.sanpham{
	margin-top: 30px;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,2);
	padding-bottom: 16px;

}
#footer{
	
	margin-top: 42px;
	color: white;
	background-color: black;
	padding: 38px;
}

.gia{
	font-size: 14px;
	color: red;
}
.sanpham img{
	height: 256px;
	
}
#footer p{
	text-align: center;
}
#user{
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background-color: blue;
	text-align: center;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 15px;
	
}
.title-footer{
	font-size: 32px;
	
}
.container-signup-form{
	display: none;
}
#header-ct{
	background-color: black;
}
@media (max-width: 575.98px) { 
.navbar-center{
	margin-left: 0%!important;
}
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
 .navbar-center{
	margin-left: 0%!important;
}
 }


@media (min-width: 768px) and (max-width: 991.98px) {
	 .navbar-center{
	margin-left: 7%!important;
	}

 }


@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {  }
